:root {
    --primary-color: #CFD2CF;
    --secondary-color: #738b92;
    --primary-blue: #495C83;
    --secondary-blue: #7A86B6;
    --third-blue: #A8A4CE;
}

body {
    background-color: var(--primary-color);
    font-family: monospace;
}

header {
    font-family: monospace;
    text-align: center;
    margin: 2em 0;
    color: var(--secondary-color);
    font-size: 1.5em;
}

.h1-web {
    text-shadow: 2px 2px 4px #333;
}

p:before {
    content: "<";
}


p:after {
    content: ">";
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.items {
    text-align: center;
    overflow: hidden;
    margin: 0 2em;
    width: 6em;
    height: 5em;
    background-color: var(--secondary-blue);
    order: 1;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--primary-blue);
    color: var(--primary-color);
    padding: 2px 0;
    cursor: pointer;
}

.text-project {
    font-size: 1.5em;
}

.items:hover {
    background-color: var(--third-blue);
    width: 10em;
    animation: expand 0.5s alternate;
}

header p {
    width: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 10s 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@media screen and (max-width:576px) {
    header {
        font-size: 1em;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes expand {
    from { width: 6em }
    to { width: 10em; }
}